{
  "extends": "airbnb",
  "rules": {
    "react/prop-types": 1,
    "no-unused-vars": 1,
    "react/prefer-stateless-function": 1,
    "import/no-extraneous-dependencies": 1
  },
  "env": {
    "browser": true
  }
}