$spring: rgb(33, 255, 148);
$spring-light: rgb(148, 255, 203);
$tomato: rgb(255, 89, 89);
$lilac: rgb(252, 99, 255);
$lilac-deep: rgb(249, 66, 255);
$lilac-bright: rgb(255, 249, 255);
$carolina: rgb(54, 182, 255);
$navy: rgb(1, 14, 23);


:export {
  spring: $spring;
  springLight: $spring-light;
  tomato: $tomato;
  lilac: $lilac;
  lilacDeep: $lilac-deep;
  lilacBright: $lilac-bright;
  carolina: $carolina;
  navy: $navy;
}